{% extends 'base.html' %}
{% block title %}Edit Blog{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == object.author.id %}
        <h1> Edit Blog... </h1>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Update</button>
            </form>
        </div>
    {%  endif %}
{% else %}
Please log in before trying to access this page
{% endif %}
{% endblock %}